<div class="box">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Bank name</th>
        <th scope="col">Interest rate (%)</th>
        <th scope="col">Maximum loan ($)</th>
        <th scope="col">Minimum down payment (%)</th>
        <th scope="col">Loan term (months)</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.bank_name %></td>
        <td><%= bank.interest_rate %></td>
        <td><%= bank.maximum_loan %></td>
        <td><%= bank.minimum_down_payment %></td>
        <td><%= bank.loan_term %></td>
        <td>
          <span style="float: right">
            <%= link_to "Edit", edit_bank_path(id: bank.id), class: "btn btn-warning btn-sm" %>
            <%= link_to "Delete", bank, method: :delete,
                                data: { confirm: "You sure?" },
                                class: "btn btn-danger btn-sm" %>

          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
